/bin
*.txt/
.gradle/
build/
.gradle/4.10.2/fileHashes/fileHashes.bin
.gradle/4.10.2/fileHashes/fileHashes.lock
.gradle/4.10.2/taskHistory/taskHistory.bin
.gradle/4.10.2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock